body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}
.checkout{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 2rem  4rem;
    
}
.down-blocks{
    /* margin-left: -15rem; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.down-blocks .block-a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block-a > div {
    display: flex;
}
.down-blocks .block-b{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.block-b > div {
    display: flex;
    
}
.block-a input{
    width: 50%;
    /* margin: 5px 10px; */
    display: flex;
}
.block-b .cvv{
    width: 200px;
}
.block-b input:last-child{
    width: 300px;
}
.block-c {
    width: 500px;
    margin: 5px;
}
.block-c input{
    width: 100%;
}
label{
    display: block;
    font-size: 1rem;
    font-weight: 480;
    margin: 10px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 18px;
}
input{
    border: 2px solid #7a7fe7;
    color: #7a7fe7;
    outline: none;
    padding: 10px 25px;
    border-radius: 3rem;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 3px;
}
input[type="date"]{
    width: 340px;
}
input::placeholder{
color: #7a7fe7;
}
.block-d{
    display: flex;
    justify-content: center;
}
.block-d button{
    padding: 10px;
    width: 500px;
    margin: 15px 5px;
    border-radius: 3rem;
    outline: none;
    border: none;
    background: #7a7fe7;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
}
.block-d button:hover{
    background: #fff;
    border: 2px solid #7a7fe7;
    color: #7a7fe7;
    transition: .2s;
}