

  /* =============================================
            DESKTOP VIEWPORT STYLES
  ================================================ */
.navbar{
    width: 90vw;
    /* background: red; */
    /* padding: 23px 35px; */
    position: fixed;
    top: 0 !important;
    left: 0;
}
.navbar > div {
    margin: -20px 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 200px;
    object-fit: cover;
}
.logo img {
    width: 100%;
}
.navbar .navs{
    display: flex;

}
.navs ul{
    display: inline-flex;
}
.navs ul li{
    list-style-type: none;
    margin: 15px;

}
.navs ul a li{
    text-decoration: none;
    color: #f7f7ff;
    font-size: 1.4rem;
}
.navs .nav-toggle{
    display: none;
}
.hero{
    width: 100vw;
}
.hero-img {
    width: 100%;
    height: 950px;
    object-fit: cover;
    border-bottom-left-radius: 23rem;
    border-bottom-right-radius: calc(100% - 30px);
    border-bottom: 10rem solid #7a7fe7;
}
.hero-body{
    position: absolute;
    top: 320px;
    left: 150px;
}
.hero-body h1 {
    font-size: 62px;
    background: -webkit-linear-gradient(#e3f11b, #9898ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero-body .hero-muted{
    max-width: 650px;
    font-size: 2.3rem;
    color: #fff;
  }

  .about{
    padding: 56px 30px;
 
  }
  .about > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about .about-img-sec{
    
  }
  .about-text-sec{
    padding: 25px;
  }
  .about-text-sec h2{
    font-size: 62px;
    background: -webkit-linear-gradient(#7a7fe7, #9898ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .about-text-sec p{
    font-size: 25px;
    margin: 15px;
  }
  .about-btn{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 35px;
    margin-left: 15px;
    background: #7a7fe7;
    color: #fff;
    padding: 15px 20px;
    border-radius: 2rem;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  .about-btn span{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .about-btn:hover{
    color: #7a7fe7;
    background: transparent;
    border: 2px solid #7a7fe7;
    transition: .2s ease-in-out;
  }

  .services{
    background: #7a7fe7;
    padding: 30px;
  }
  .services > div {
    display: flex;
    align-items: center;
    padding: 35px 45px;
    text-align: center;
  }
  .services-text h2{
    font-size: 62px;
    background: -webkit-linear-gradient(#fff, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .services-text p{
    font-size: 22px;
    background: -webkit-linear-gradient(#fff, #9898ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .services-icons{
    display: flex;
  }
  .service{
    padding: 20px;
    margin: 20px;
    text-align: center;
    /* box-shadow: 1.2px 1.2px 5px #f2f3ff; */
  }
  .service-icon span {
    background: -webkit-linear-gradient(#e3f11b, #9898ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
  }
  .service h3{
    color: #fff;
    font-size: 2rem;
  }
  .service p{
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .service-btn{
    background: -webkit-linear-gradient(#e3f11b, #9898ed);
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 3rem;
    margin-top: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
  /* available-rooms */

  .available{
    padding: 45px 20px;
    
  }
  .available > div{
    padding: 20px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .available > div .available-btn{
    color: #7a7fe7;
    border:  2px solid #7a7fe7;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 3rem;
    padding: 15px 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    align-self: flex-end;
  }
  .available > div .available-btn:hover{
    background: #7a7fe7;
    color: #fff;
     border:  2px solid #fff;
  }
  .available-text-sec{
    padding: 20px 25px;
    margin: 20px auto;
    text-align: center;
    max-width: 700px;
  }
  .available-text-sec h2{
    font-size: 52px;
    background: -webkit-linear-gradient(#e3f11b, #9898ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 5px;
  }
  .available-text-sec >div p{
    font-size: 2rem;
    color: #000;
  }
  .available-room-sec{
    padding: 20px 25px;
    
  }
  .room-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-top: 25px;
  }
  .room-img{
    width: 300px;
  }
  .room-img img{
    width: 100%;
    border-radius: 15px;
    /* border-top-left-radius: 2.3rem; */
    /* border-bottom-right-radius: 2.3rem; */
    

  }
  .room{
    max-width: 350px;
    border-radius: 1.23rem;
    padding: 30px;
    
    /* box-shadow:  2px 2px 5px rgba(0,0,0,0.7); */
  }
  .room-container .room-text{
    padding: 20px;
  }
  .room-container .room-text span{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0;
  }
  .room-container .room-text p{
    font-size: 1.2rem;
    margin-top: 20px;
  }
  
/* contact */

.contact{
  background: #7a7fe7;
  padding: 30px;
}  
.contact-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-container h2{
  font-size: 52px;
  background: -webkit-linear-gradient(#e3f11b, #9898ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-container p{
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: #fff;
  max-width: 450px;
  text-align: center;
  margin: 30px 0;
}
.contact-container form{
  display: flex;
  justify-content: center;
  gap: 20px;

}
.contact-container form input{
  border: none;
  outline: none;
  padding: 10px;
  width: 400px;
  margin: 5px;
  font-size: 1.2rem;
  border-radius: 1rem;
}
.contact-container form textarea{
  border: none;
  outline: none;
  padding: 10px;
  width: 400px;
  height: 155px;
  border-radius: 1rem;
  margin: 5px;
  font-size: 1.2rem;
}
form label{
  display: block;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  margin-left: 20px;

}
.contact-container form input[type="text"],
.contact-container form input[type="email"]{
  margin-top: 10px;
}
.contact-container form input[type="submit"]{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}
.contact-container form input[type="submit"]:hover{
  background: #fff;
  border: none;
  color: #7a7fe7;
  transition: .2s ease-in-out linear;
}





  /* =============================================
  MOBILE VIEWPORT STYLES
  ================================================ */
  @media screen and (max-width: 768px){}






