.hero{
    width: 100vw;
}
.hero-img {
    width: 100vw;
    height: 950px;
    object-fit: cover;
    /* border-bottom-left-radius: 23rem; */
    /* border-bottom-right-radius: calc(100% - 30px); */
    /* border-bottom: 10rem solid #7a7fe7; */
}
.hero-body{
    position: absolute;
    top: 320px;
    left: 150px;
}
.hero-body h1 {
    font-size: 62px;
    background: -webkit-linear-gradient(#e3f11b, #9898ed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero-body .hero-muted{
    max-width: 650px;
    font-size: 2.3rem;
    color: #fff;
  }
